@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@800&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;

    /* outline: 1px dotted red

       */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px ;
    box-shadow: inset 0 0 10px #f0600000;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    background-color: #F06000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FC9D5D;
    
}



.header-inicial {
    height: 950px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(imagens/fundo-preto.jpg) no-repeat top center;
     /*background-size: cover !important;
	    -webkit-background-size: cover !important; */
    text-align: center;
    overflow: hidden;
    transition: 2s;
}

.header-final {
    height: 950px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(imagens/banner7.jpg) no-repeat top center;
    text-align: center;
    overflow: hidden;
    transition: 2s;
}

header #introduction {
    margin-top: 140px;
    max-width: 1500px;
}

header #introduction h1{
    color: #fff;
    font: 90px 'open sans', sans-serif;
    margin: 18px;
}

header p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 18px;
    margin: auto;
    width: 50%;
    opacity: 0;
    transition: 4s;
}
.resumo-final {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 18px;
    margin: auto;
    width: 50%;
    opacity: 1;
    transition: 4s;
}

header hr {
    width: 50%;
    margin: 18px auto 24px auto;
    color: #F06000;
    border-color: rgb(240, 96, 0);
    opacity: 0;
    transition: 4s;
}

.linha-final {
    width: 50%;
    margin: 18px auto 24px auto;
    color: #F06000;
    border-color: rgb(240, 96, 0);
    opacity: .25;
    transition: 4s;
}

:root {
    --ti-cursor-color: #F06000;
  }

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 100%;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.menu-final {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 100%;
    opacity: 1;
    transition: 1s;
}

.menu ul {
    margin: 0.9em;
}

.menu ul li {
    line-height: 18px;
    padding: 8px 13px;
}

.menu ul li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: 0.5s;    
}

.menu ul li a:hover {
    color: #F06000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    
}

.code_color {
    color: #F06000;
    opacity: 0;
    transition: 2s;
}

.code-color-final {
    color: #F06000;
    opacity: 1;
    transition: 2s;
}



.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: fixed;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #F06000;
    margin: 8px;
    transition: 0.3s;
}

.contato {
    height: 50px;
    width: auto;
    opacity: 0;
    transition: 4s;
}

.contato-final {
    height: 50px;
    width: auto;
    opacity: 1;
    transition: 4s;
}

.contato ul {
    display: block;
    align-items: center;
    padding: 0;
}

.contato ul li {
    display: inline-block;
    margin: 10px;
}

.contato ul li a svg:hover {
    color: #F06000;
    transform: scale(1.5);
}

.contato ul li a svg {
    color: #fff;
    width: 40px;
    height: 40px;
    transition: 0.6s;
    align-items: center;
}



.icon_seta {
    position: absolute;
    bottom: 30px;
    vertical-align: bottom;
    width: 100%;
    opacity: 0;
    transition: 4s;
}

.icon-seta-final {
    position: absolute;
    bottom: 30px;
    vertical-align: bottom;
    width: 100%;
    opacity: 1;
    transition: 4s;
}

#seta {
    color: #F06000;
    width: auto;
    height: 50px;
    animation: is-bouncing 1s ease-in-out alternate infinite;
}

main {
    display: flex;
    background-color: #2B2B2B; 
    height: 950px;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 18px;
    margin: auto;
    text-align: justify;
    width: 74%;
}

main a {
    color: #00E2F0;
    text-decoration: none;
    transition: 0.5s;
}

main a:hover {
    text-decoration: underline;
    color: #F06000;
}

main .campo-perfil .foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}


.quem_sou_eu {
    display: flex;
    flex-direction: column;
}

.quem_sou_eu h2 {
    text-align: left;
    width: 100%;
    padding: 1em;
    /* margin-left: 129px; */
    color: #F06000;
}

.quem_sou_eu p {
    color: #7A7A7A;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    } 
    
    .nav-list {
        position: absolute;
        top: 8vh;
        right: -15px;
        width: 50vw;
        height: 92vh;
        background: #F06000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        transition: 0.5s;
        
    }

    header #introduction h1{
        color: #fff;
        font: 66px 'open sans', sans-serif;
        margin: 18px;
    }

    header p {
        font-family: 'Libre Baskerville', serif;
        color: #fff;
        font-size: 18px;
        margin: auto;
        text-align: justify;
        width: 74%;
    }

    /* .icon_seta {
        position: fixed;
        bottom: 30px;
        vertical-align: bottom;
        width: 100%;
    } */
    
    main div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 
    
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes is-bouncing {
    to {
        transform: translateY(30px);
    }
}


/* ------------------------------------------------------------------------ */

.skills {
    padding: 5%;
    height: 100%;
    background-color: #2B2B2B;
    color: white;
}

.div-linha {
    background-color: #2B2B2B;
}

.linha {
    width: 90%;
    margin: 0 auto;
    border: solid 1px #F06000;
    opacity: 40%;
}

@media screen and (max-width: 1680px) {
    section {
        padding: 5em 0 3em 0 ; } }
@media screen and (max-width: 1280px) {
    section {
        padding: 4em 0 2em 0 ; } }
@media screen and (max-width: 736px) {
    section {
        padding: 3em 0 1em 0 ; } }

span.major > :last-child {
    border-bottom: solid 3px #F06000;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0 0.1em 0.5em 0; }
        
span p {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase; }

span img {
    width: 50%;
    height: 50%;

}

.content h3 {
    display: inline-flex;
    border-bottom: solid 1px #F06000;
    
}




.features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em -3em;
    width: calc(100% + 3em); }
    .features article {
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin: 0 0 3em 3em;
        /*position: relative;*/
        width: calc(50% - 3em); }
        .features article:nth-child(2n - 1) {
        margin-right: 1.5em; }
        .features article:nth-child(2n) {
        margin-left: 1.5em; }
        .features article:nth-last-child(1), .features article:nth-last-child(2) {
        margin-bottom: 0; }
        .features article .icon {
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        display: block;
        height: 10em;
        line-height: 10em;
        margin: 0 2em 0 0;
        text-align: center;
        width: 10em; }
        .features article .icon:before {
            color: #F06000;
            font-size: 2.75rem;
            /*position: relative;*/
            top: 0.05em; }
        .features article .icon:after {
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 0.25rem;
            border: solid 2px #F06000; /*rgba(210, 215, 217, 0.75);*/
            content: '';
            display: block;
            height: 7em;
            left: 50%;
            margin: -3.5em 0 0 -3.5em;
            position: absolute;
            top: 50%;
            width: 7em; }
        .features article .content {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        width: 100%; }
        .features article .content > :last-child {
            margin-bottom: 0; }
    @media screen and (max-width: 980px) {
        .features {
        margin: 0 0 2em 0;
        width: 100%; }
        .features article {
            margin: 0 0 3em 0;
            width: 100%; }
            .features article:nth-child(2n - 1) {
            margin-right: 0; }
            .features article:nth-child(2n) {
            margin-left: 0; }
            .features article:nth-last-child(1), .features article:nth-last-child(2) {
            margin-bottom: 3em; }
            .features article:last-child {
            margin-bottom: 0; }
            .features article .icon {
            height: 8em;
            line-height: 8em;
            width: 8em; }
            .features article .icon:before {
                font-size: 2.25rem; }
            .features article .icon:after {
                height: 6em;
                margin: -3em 0 0 -3em;
                width: 6em; } }
    @media screen and (max-width: 480px) {
        .features article {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start; }
        .features article .icon {
            height: 6em;
            line-height: 6em;
            margin: 0 0 1.5em 0;
            width: 6em; }
            .features article .icon:before {
            font-size: 1.5rem; }
            .features article .icon:after {
            height: 4em;
            margin: -2em 0 0 -2em;
            width: 4em; } }
    @media screen and (max-width: 480px) {
        .features article .icon:before {
        font-size: 1.25rem; } }

/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative; }
    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 400; }
    .icon > .label {
      display: none; }
    .icon:before {
      line-height: inherit; }
    .icon.solid:before {
      font-weight: 900; }
    .icon.brands:before {
      font-family: 'Font Awesome 5 Brands'; }



.sticky {
    background-color: #333;
    transition: 1s;
    
}