* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#555, #292929);
} */


label {
    position: relative;
    left: 150px;
    width: 200px;
    height: 50px;
    background: #3e3e3e;
    box-shadow: 0 0 0 4px #303030;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

label input {
    appearance: none;
}

label span {
    position: absolute;
    left: 0;
    width: 150px;
    height: 50px;
    background: url(café/imagens/Coffee_01.png);
    background-size: auto 50px;
    background-repeat: no-repeat;
    transition: 1.5s;
    transform: rotate(-180deg);
    transform-origin: 25px;
}

label input:checked ~ span {
    left: 150px;
    background: url(café/imagens/Coffee_02.png);
    background-size: auto 50px;
    background-repeat: no-repeat;
    transform: rotate(360deg);
}

label text {
    position: absolute;
    left: -60px;
    /*font-family: consolas;*/
    color: #fff;
    /*font-size: 3em;*/
    filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 35px yellow);
    transition: 1.5s;
}

label input:checked ~ text {
    color: #8f8f8f;
    filter: none;
}

label text:last-child {
    position: absolute;
    left: initial;
    right: -50px;
    color: #8f8f8f;
    filter: none;
}

label input:checked ~ text:last-child {
    filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 35px blue);
    color: #fff;
}